{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<body  style="background-image: url({% static 'customer/background.jpg' %}); height: 1056px;">
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <h1>About Us!</h1>
                <style>
                    h1{
                        color: #FFAE42;
                    }
                    p{
                        color: #2B1B17;
                        font-size: 24px;
                         font-weight: bold;
                         -webkit-text-stroke: 0.1px #000000;
                        background: rgba(255,255,255,0.55);
                        border-radius: 25px;
                    }
                </style>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
                <p>We are a restaurant that has stayed in our
                        family for 4 generations. Bisabuelo, who originated from Oaxaca, Mexico in his youth, to set up
                        a restaurant here in London. He strived to create a friendly atmosphere with authentic, good
                        food. These are the principles we stick to still, today.</p>
            </div>
        </div>
    </div>
</body>
{% endblock content %}